<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000" />
<link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet" />
{% feed_meta %}
{% seo title=false %}
<title>{% if page.title and page.title != site.title %}{{ site.title }} / {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>